body {
    background-color: black;
    color: white;
    margin: 0;
}

.card {
    color: white;
    width: 300px;
    border: 1px solid yellow;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    vertical-align: top;
    margin: 20px;
    display: inline-block;
}

.photo {
    border-radius: 20px;
    width: 300px;
}
.text {
    margin: 10px 0px 10px 0px;
}
.save {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 20px 10px 20px
    border: none; 
    border-radius: 20px;
    margin-top: 8px
}

